body {
    font-family: 'Yaldevi', sans-serif;
}

/* Footer */

.page-footer {
    background: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px dashed lightgrey;
}


/* NavBar */

.nav-wrapper {
    padding: 0 17%;
    background-color: #99a9d1;
}

.nav-wrapper .brand-logo {
    font-size: 25px;
}

.nav-wrapper li a {
    font-size: 18px;
}

/* Content */

.container {
    width: 60%;
}

.container h1 {
    font-size: 3.8rem;
}

.container p {
    font-size: 17px;
}

/* Home Page */

.home-page .row {
    margin-top: 12%;
}