body {
    font-family: 'Noto Sans Display', sans-serif;   /* google font */
}

strong {
    font-weight: 600;
}

/* Footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background: white;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px dashed lightgrey;
}


/* NavBar */

.nav-wrapper {
    padding: 0 17%;
    background-color: #99a9d1;
}

.nav-wrapper .brand-logo {
    font-size: 25px;
}

.nav-wrapper li a {
    font-size: 18px;
}

/* Content */

.container {
    width: 60%;
    font-size: 17px;
}

.container h1 {
    font-size: 3.8rem;
}

.container p {
    font-size: 17px;
}

.container li {
    list-style-type: square !important;
}

.container figcaption {
    text-align: center;
    padding: 10px;
}

/* Home Page */

.home-page .row {
    margin-top: 12%;
}